#review-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-review-button {
  width: 300px;
  padding: 10px;
  background-color: rgb(228, 77, 77);
  color: white;
  cursor: pointer;
}

#submit-review-button:disabled {
  width: 300px;
  padding: 10px;
  background-color: rgb(242, 149, 149);
  color: white;

}

#review-stars-container {
  display: flex;
  margin: 10px 0px;
}

#review-stars-container > i {
  cursor: pointer;
}

#review-stars-container .filled > i{
  color: red;
}


#review-stars-container .empty  > i{
  color: red;
}
