* {
  box-sizing: border-box;
}

#spots-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spots-boxes-details {
  display: grid;
  flex-direction: column;
  margin-top: 10px;
}

.spots-boxes-ratings {
  text-align: right;
}
