#form-container {
  display: block;
  text-align: center;
}

p {
  margin-top: 5px;
}

h3 {
  margin-bottom: 0px;
}

#form-container > input {
  width: 430px;
}

form {
  display: inline-block;
  text-align: left;
  margin: 0px auto;
  width: 430px;
}

#location-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#location-container > h2 {
  margin-top: 0px;
}

#location-container > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#location-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#description-container {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#title-spot-container {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#price-container {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.lat-lng-container {
  display: flex;
  justify-content: space-between;
}

#spot-images-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#spot-images-container > h3{
  margin-bottom: 0px;
}

#spot-images-container > p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.create-spot-button-container {
  margin: 15px auto;
  text-align: center;
}

.create-spot-button-container > button {
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.create-spot-button-container > button:hover {
  background-color: rgb(176, 58, 58);
}

/* ERRORS */
span.errors {
  margin-left: 10px;
  color: red;
  font-size: 0.85rem;
}

p.errors {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 0px;
}
