#single-spot-container {
  margin: auto;
  max-width: 1200px;
}

#single-spot-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#single-spot-price-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0px;
  margin-left: 15px;
}

#single-spot-images-container {
  display: flex;
  margin-top: 15px;
  width: 100%;
}

#other-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 160px 160px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 5px;
  width: 50%;
}

.other-images {
  width: 100%;
  height: 100%;
}

#single-spot-description>h2 {
  margin-top: 0px;
}

#single-spot-details-container {
  margin-top: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#single-spot-price-ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#reserve-button {
  cursor: pointer;
  width: 290px;
  align-self: center;
  background-color: rgb(228, 77, 77);
  color: white;
  padding: 10px;
  border: none;
}

#reserve-button:hover {
  background-color: rgb(176, 58, 58);
}

#reserve-button:disabled {
  cursor: not-allowed;
  background-color: rgb(167, 101, 101);
}

#preview-image {
  width: 50%;
  height: 325px;
}

.post-your-review-container>button {
  background-color: #565555;
  color: white;
  cursor: pointer;
}

.single-spot-description {
  width: 600px;
}
