#spots-container {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 280px;
  width: 100%;
  column-gap: 30px;
  row-gap: 70px;
  justify-content: center;
  border-radius: 15px;
}

.spots-boxes {
  width: 280px;
  /* width: 100%; */
  height: 360px;
  /* height: 100%; */
  border-radius: 15px;
}

.spots-boxes-image {
  /* width: 100%; */
  /* height: 100%; */
  width: 280px;
  height: 280px;
  border-radius: 15px;
}

.spots-boxes > a {
  color: black;
  text-decoration: none;
}

.spots-boxes-details {
  display: grid;
  flex-direction: column;
  margin-top: 10px;
}

.spots-location-ratings {
  display: flex;
  justify-content: space-between;
}

.spots-boxes-ratings {
  text-align: right;
}

div.spots-boxes-price {
  font-weight: bold;
}

.day-text {
  font-weight: normal;
}

.tooltip {
  /* position: relative; */
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
