.hidden {
  display: none;
}

.navigation-bar {
  list-style-type: none;
}

#navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.profile-button {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 8px 15px;
  background-color: white;
}
